body {
  font-family: 'Abril Fatface';
  background-color: #FFC9B9;
}

.un {
  color: #D68C45;
  text-align: center;
  margin-bottom: 10vh;
}

.deux {
  margin-bottom: 10vh;
}

#gilda {
  font-size: 15vw;
  margin-bottom: 0;
  height: 15vw;
}

#paris {
  font-size: 3vw;
  margin-top: 0;
}

#tease {
  font-size: 3vw;
  height: 2.5vw;
  text-align: start;
  margin-left: 32%;
  margin-bottom: 0;
  color: #FEFEE3;
}

#date {
  text-align: center;
  font-size: 5vw;
  margin-top: 0;
  height: 7vw;
  color: #C1AAC0;
}

#contact {
  text-align: center;
  color: #D68C45;
}

@media only screen
and (min-device-width : 1px)
and (max-device-width : 812px)
and (orientation : portrait) {
  .un {
  margin-bottom: 13vh !important;
  }

  .deux {
    margin-bottom: 16vh !important;
  }

  #gilda {
    font-size: 20vw !important;
    margin-bottom: 0;
    height: 20vw !important;
    margin-top: 25% !important;
  }

  #paris {
    font-size: 6vw !important;
    margin-top: 0;
  }

  #tease {
    font-size: 7vw !important;
    height: 6.5vw !important;
    margin-left: 22% !important;
  }

  #date {
    font-size: 8vw !important;
  }

  #contact {
    font-size: 4vw !important;
  }
}


